.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.project {
    width: calc(33.33% - 20px);
    border: 2px solid var(--text-light);
    text-align: center;
    background: var(--bg-light);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.dark-mode .project {
    border: 2px solid var(--text-dark);
    background: var(--bg-dark);
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project h3 {
    margin: 10px 0;
}

.project p {
    font-size: 14px;
}

.project a {
    /* display: inline-block; */
    margin: 10px;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}